<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.thym.android.core.AndroidLaunchConfigurationType">
<stringAttribute key="org.eclipse.thym.android.core.ATTR_DEVICE_SERIAL" value="32041b25a655a143"/>
<booleanAttribute key="org.eclipse.thym.android.core.ATTR_IS_DEVICE_LAUNCH" value="true"/>
<stringAttribute key="org.eclipse.thym.core.ATTR_BUILD_SCOPE" value="BTSMaintenanceSystemClient"/>
</launchConfiguration>
