@CHARSET "UTF-8";


body {
    background-image:  url('../img/background.jpg');
    background-repeat: repeat;
    background-size: auto;

}
.search_block {
    height:100%;
    width: 100%;
    position: fixed;
    opacity: 10;
}
#get_positionButton {
    color: white;
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5px;
    border: none;
    height: 10%;
    margin-bottom: 5px;
}
p {
    color: white;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: black;
    color: yellow;
    font-size: large;

}
