@CHARSET "UTF-8";


body {
    background-image:  url('../img/background.jpg');
    background-repeat: repeat;
    background-size: auto;

}

#bannerId {
    vertical-align: top;
}


#smsEntryButton, #smsExitButton, #smsAlarmButton, #navButton, #callButton {
    background-size: contain;
    border: none;
    width: 14%;

}

#sectionId {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.imageDiv {
    text-align: left;
}

.ico {
    display: flex;
    float: left;
    transform: scale(0.85,0.85);
}

.paramsId {
    width: 70%;
    display: block;
    float: left;
    color: #ffa300;
    text-align: right;
    font-size: x-large;
    padding-left: 1%;
}

.paramsId a {
    color: #00a8ff;
    text-transform: uppercase;
    font-size: small;
    text-align: left;
    float: left;
}

.paramsId b {
    text-transform: uppercase;
    font-size: small;
    text-align: right;
    float: right;
}
#main {
    vertical-align: middle;
}

.extraParamsId {

    width: 100%;
    display: block;
    float: left;
    color: #00a8ff;
    text-align: left;
    font-size: x-large;
    border-bottom: 1px #00a8ff solid;
    border-top: 1px #00a8ff solid;
}

.extraParamsId a {
    color: #00a8ff;
    text-transform: uppercase;
    font-size: medium;
    text-align: left;
    float: left;
}

.extraParamsId b {
    color: #ffa300;
    text-transform: uppercase;
    font-size: medium;
    text-align: right;
    float: right;

}
.extraParamsId b:before {
    white-space: nowrap;

}



#footerId {
    clear: left;
    vertical-align: bottom;
    width: 100%;
    height: 15%;
    align-items: center;
    display: inline-flex;
    float: left;
}

#footerId button {
    position: absolute;
    display: inline-block;
    float: left;
    clear: both;
    background-size: contain;
    background-position: center;
    margin-top: 5px;
    transition: 300ms all;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    border: none;
    height: auto;
    min-height: 10%;
    background-color: transparent;

}

#footerId button:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

#footerId button:hover {
    transform: scale(1.05, 1.05);
}

#smsEntryButton{
    background-image: url("../img/inico.gif");
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 5%;
}

#smsExitButton{
    background-image: url("../img/outico.gif");
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 23%;
}


#smsAlarmButton{
    background-image: url("../img/alertsico.gif");
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 41%;
}


#navButton {
    margin-left: 59%;
    background-image: url("../img/carico.gif");
    background-repeat: no-repeat;
    background-size: auto;
}

#callButton {
    margin-left: 77%;
    background-image: url("../img/callico.gif");
    background-repeat: no-repeat;
    background-size: auto;
}