@CHARSET "UTF-8";


body {
    background-image:  url('../img/background.jpg');
    background-repeat: repeat;
    background-size: auto;

}

button {
    display: inline;
    clear: both;
    background-size: contain;
    background-position: left;
    transition: 300ms all;
    background-color: inherit;
    background-repeat: no-repeat;
}
input {
    background-color: #393939;
    border-bottom-color: #00a8ff;
    width: 70%;
    height: 15%;
    font-size: x-large;
    color: #00a8ff;
}

#searchHandler {
    border: none;
    display: block;
    clear: both;
    background-size: contain;
}
#header_id {
    width: 100%;
    height: 10%;
}
#headerHandler {
    background-color: orange;
    color: white;
    position: center;
    text-align: center;
    font-size: xx-large;
}

#searchIcoDiv {
    display: inline-flex;
}

#input_wrapper {
    width: 80%;
    height: auto;
    display:inline;
}
#popupMenuHandler {
    width: 50%;
    height: auto;
    border: none;
    display: inline-flex;
    clear: both;
    background-size: contain;
}
#popupMenuHandlerDiv {
    display:inline-flex;
}

#imageHandler {
    width: 50%;
}

#nav {
    position:relative;
    margin:0px;
}


ul#navigation {
    margin:0px;
    position:relative;
}

ul#navigation li {
    display:inline;
    font-size:12px;
    font-weight:bold;
    margin:0;
    padding:0;
}

ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    visibility:hidden;
    position: absolute;
    z-index: 99999;
    width:0px;
    background: black;
    color: #00a8ff;
    box-shadow:0 2px 2px -1px rgba(0, 0, 0, 0.055);
    opacity:0;
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear; ///* Chrome &amp; Safari*/
-moz-transition:opacity 0.2s linear, visibility 0.2s linear; // /*Mozilla Firefox*/
-o-transition:opacity 0.2s linear, visibility 0.2s linear; // /* Opera */
transition:opacity 0.2s linear, visibility 0.2s linear;
}

ul#navigation li a:hover {
    background:black;
    color: #00a8ff;
}

ul#navigation li:hover > a {
    background:black;
}

/* Drop-Down Navigation */
ul#navigation:active > li > ul
{
    visibility:visible;
    opacity:1;
}

ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    visibility:hidden;
    position: absolute;
    z-index: 99999;
    width:180px;
    background:#f8f8f8;
    box-shadow:0 2px 2px -1px rgba(0, 0, 0, 0.055);
    opacity:0;
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear;
    -o-transition:opacity 0.2s linear, visibility 0.2s linear;
    transition:opacity 0.2s linear, visibility 0.2s linear;
}

ul#navigation ul {
    top: 0px;
    left: 1px;
}

ul#navigation ul li ul {
    bottom: 100px;
    left: 181px;
}

ul#navigation ul li {
    clear:both;
    width:100%;
    border:0 none;
    border-bottom:1px solid #c9c9c9;
}

ul#navigation ul li a {
    background:black;
    color:#00a8ff;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    float:left;
    clear:both;
}

ul#navigation li a.first {
    border-left: 0 none;
}

ul#navigation li a.last {
    border-right: 0 none;
}
