@CHARSET "UTF-8";


body {
    background-image:  url('../img/background.jpg');
    background-repeat: repeat;
    background-size: auto;

}
.search_block {
    height:100%;
    width: 100%;
    position: fixed;
    opacity: 10;
}
#get_positionButton {
    color: white;
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5px;
    border: none;
    height: 10%;
    margin-bottom: 5px;
}

button {
    display: inline;
    clear: both;
    background-size: contain;
    background-position: left;
    transition: 300ms all;
    background-color: inherit;
    background-repeat: no-repeat;
}

th {
    background-color: #ffa300;
    color: #E4E4E4;
}

tr {
    background-color: #393939;
    color: #00a8ff;
}

button#record {
    width: 100%;
    background: transparent;
    border-bottom-color: #00a8ff;
}


#imageDiv {
    text-align: left;
}

#towerIco {
    display: flex;
    float: left;
}
#paramsId {
    width: 70%;
    display: block;
    float: left;
    color: #ffa300;
    text-align: right;
    font-size: x-large;
    padding-left: 5%;
}

div#paramsId a {
    color: #00a8ff;
    text-transform: uppercase;
    font-size: medium;
    text-align: left;
    float: left;
}

div#paramsId b {
    text-transform: uppercase;
    font-size: medium;
    text-align: right;
    float: right;
}


