<?xml version='1.0' encoding='utf-8'?>
<widget id="bts.maintenance.system.client" version="0.0.1"
	xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>BTS Maintenance System Client</name>
	<description>
		A sample Apache Cordova application that responds to the deviceready
		event.
	</description>
	<author >
	    slyboots
	</author>
	<author>
	    zawodnix
	</author>

	<content src="index.html" />
	<!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
	<plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="Geolocation" value="org.apache.cordova.GeoBroker" />
	<access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	<platform name="android">
		<allow-intent href="market:*" />
		<icon src="www/res/icon/towericon.png" density="ldpi" />
        <icon src="www/res/icon/towericon.png" density="mdpi" />
        <icon src="www/res/icon/towericon.png" density="hdpi" />
        <icon src="www/res/icon/towericon.png" density="xhdpi" />
        
        <splash src="www/res/icon/towericon.png" density="port-hdpi"/>
    <splash src="www/res/icon/towericon.png" density="port-ldpi"/>
    <splash src="www/res/icon/towericon.png" density="port-mdpi"/>
    <splash src="www/res/icon/towericon.png" density="port-xhdpi"/>
    
    
	</platform>
	<platform name="ios">
		<allow-intent href="itms:*" />
		<allow-intent href="itms-apps:*" />
	</platform>
	<engine name="android" version="4.1.1" />
	
</widget>
